

<!-- Breadcrumb Alignment Starts -->
<section id="breadcrumb-alignment">
    <div class="row">
        <div class="col-sm-12">
            <div class="d-flex justify-content-end breadcrumb-wrapper">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mr-1">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Library</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Data</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Alignment Ends -->