<div class="sidenav-overlay"></div>
<div class="drag-target"></div>

<!-- BEGIN: Footer-->
<footer class="footer footer-static footer-light">
    <p class="clearfix blue-grey lighten-2 mb-0"><span class="float-md-left d-block d-md-inline-block mt-25">COPYRIGHT
            &copy; 2019<a class="text-bold-800 grey darken-2" href="https://1.envato.market/pixinvent_portfolio"
                target="_blank">Pixinvent,</a>All rights Reserved</span><span
            class="float-md-right d-none d-md-block">Hand-crafted & Made with<i
                class="feather icon-heart pink"></i></span>
        <button class="btn btn-primary btn-icon scroll-top" type="button"><i class="feather icon-arrow-up"></i></button>
    </p>
</footer>
<!-- END: Footer-->

<!-- BEGIN: Vendor JS-->
<script src="/theme/app-assets/vendors/js/vendors.min.js"></script>
<!-- END Vendor JS-->

<!-- BEGIN: Datatable responsive. Makes columns to collapse  JS-->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/r-2.2.5/datatables.min.js"></script>
<!-- END: Datatable responsive. Makes columns to collapse  JS-->

<!-- BEGIN: Page Vendor JS-->

<script src="/theme/app-assets/vendors/js/extensions/moment.min.js"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="/theme/app-assets/js/core/app-menu.js"></script>
<script src="/theme/app-assets/js/core/app.js"></script>
<script src="/theme/app-assets/js/scripts/components.js"></script>
<!-- END: Theme JS-->


<script src="/theme/assets/js/natural-sort.js"></script>






