<h2 class="my-3">Title from root</h2>
<div class="">This content comes from root</div>
<br>
<br>



<div class="col-sm-8">
    <div class="col-sm-4">
        <a href="#">link from root</a>
    </div>
    <div class="col-sm-4">
        <a href="#">link from root</a>
    </div>
    <div class="col-sm-4">
        <a href="#">link from root</a>
    </div>
</div>