<div class="d-flex justify-content-between feature-header">
    <div>
        <h3 class="content-head">{{featureTitle}}</h3>
    </div>

    <div>
        <h4>
            <a class="btn btn-primary" style="margin-top: -9px;" href="/student/new" id="new-crud-btn">New
                User</a>
        </h4>
    </div>
</div>

<div class="content-body">
    <section id="profile-info">
        <div class="row">
            <div class="col-lg-3 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>About</h4>
                        <i class="feather icon-more-horizontal cursor-pointer"></i>
                    </div>
                    <div class="card-body">
                        <p>Tart I love sugar plum I love oat cake. Sweet roll caramels I love jujubes. Topping cake
                            wafer.</p>
                        <div class="mt-1">
                            <h6 class="mb-0">Joined:</h6>
                            <p>November 15, 2015</p>
                        </div>
                        <div class="mt-1">
                            <h6 class="mb-0">Lives:</h6>
                            <p>New York, USA</p>
                        </div>
                        <div class="mt-1">
                            <h6 class="mb-0">Email:</h6>
                            <p>bucketful@fiendhead.org</p>
                        </div>
                        <div class="mt-1">
                            <h6 class="mb-0">Website:</h6>
                            <p>www.pixinvent.com</p>
                        </div>
                        <div class="mt-1">
                            <button type="button" class="btn btn-sm btn-icon btn-primary mr-25 p-25"><i
                                    class="feather icon-facebook"></i></button>
                            <button type="button" class="btn btn-sm btn-icon btn-primary mr-25 p-25"><i
                                    class="feather icon-twitter"></i></button>
                            <button type="button" class="btn btn-sm btn-icon btn-primary p-25"><i
                                    class="feather icon-instagram"></i></button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
</div>