<div class="bg">
  <div class="container text-white pt-5">
    <h1 class="display-5 text-white">
      Manage Your School For Free
    </h1>
    <h3 class="lead mt-3 text-white">
      Submit your students, teachers, grades and then generate your reports, ie, grade reports.
    </h3>
    <h5 class="text-white my-4">
      PRESCHOOL FEATURES ONLY
    </h5>
    <p class="lead">
      <a class="btn-ol-white btn-lg" href="/signup" role="button">
        Create Account
      </a>
    </p>
  </div>
</div>
<div class="container my-5">
  <p id="demo">
    This example creates a full page background image. Try to resize the browser window to see how it
        always will
        cover
        the full screen (when scrolled to top), and that it scales nicely on all screen sizes.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque dolore et pariatur obcaecati saepe
        repudiandae,
        quo
        quia deserunt explicabo voluptatum ut molestiae, hic voluptatem exercitationem accusantium corrupti ipsam
        quasi
        quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quaerat eum molestiae quas
        corporis
        qui
        itaque delectus cumque unde quos in dolor praesentium repudiandae, quasi est a? Ullam, quasi ab!
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem fugiat unde aliquid earum? Aspernatur
        necessitatibus, incidunt magni magnam laboriosam corrupti, error provident, rerum dolorum totam tempore ut
        labore
        asperiores ratione!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est deleniti odio nulla non minima aut debitis rerum
        earum
        molestiae nesciunt, fugiat eius esse corporis ab nobis dolor natus odit temporibus?
  </p>
  <p>
    This example creates a full page background image. Try to resize the browser window to see how it always will
        cover
        the full screen (when scrolled to top), and that it scales nicely on all screen sizes.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque dolore et pariatur obcaecati saepe
        repudiandae,
        quo
        quia deserunt explicabo voluptatum ut molestiae, hic voluptatem exercitationem accusantium corrupti ipsam
        quasi
        quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quaerat eum molestiae quas
        corporis
        qui
        itaque delectus cumque unde quos in dolor praesentium repudiandae, quasi est a? Ullam, quasi ab!
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem fugiat unde aliquid earum? Aspernatur
        necessitatibus, incidunt magni magnam laboriosam corrupti, error provident, rerum dolorum totam tempore ut
        labore
        asperiores ratione!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est deleniti odio nulla non minima aut debitis rerum
        earum
        molestiae nesciunt, fugiat eius esse corporis ab nobis dolor natus odit temporibus?
  </p>
  <p>
    This example creates a full page background image. Try to resize the browser window to see how it always will
        cover
        the full screen (when scrolled to top), and that it scales nicely on all screen sizes.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque dolore et pariatur obcaecati saepe
        repudiandae,
        quo
        quia deserunt explicabo voluptatum ut molestiae, hic voluptatem exercitationem accusantium corrupti ipsam
        quasi
        quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quaerat eum molestiae quas
        corporis
        qui
        itaque delectus cumque unde quos in dolor praesentium repudiandae, quasi est a? Ullam, quasi ab!
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem fugiat unde aliquid earum? Aspernatur
        necessitatibus, incidunt magni magnam laboriosam corrupti, error provident, rerum dolorum totam tempore ut
        labore
        asperiores ratione!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est deleniti odio nulla non minima aut debitis rerum
        earum
        molestiae nesciunt, fugiat eius esse corporis ab nobis dolor natus odit temporibus?
  </p>
  <p>
    This example creates a full page background image. Try to resize the browser window to see how it always will
        cover
        the full screen (when scrolled to top), and that it scales nicely on all screen sizes.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque dolore et pariatur obcaecati saepe
        repudiandae,
        quo
        quia deserunt explicabo voluptatum ut molestiae, hic voluptatem exercitationem accusantium corrupti ipsam
        quasi
        quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quaerat eum molestiae quas
        corporis
        qui
        itaque delectus cumque unde quos in dolor praesentium repudiandae, quasi est a? Ullam, quasi ab!
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem fugiat unde aliquid earum? Aspernatur
        necessitatibus, incidunt magni magnam laboriosam corrupti, error provident, rerum dolorum totam tempore ut
        labore
        asperiores ratione!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est deleniti odio nulla non minima aut debitis rerum
        earum
        molestiae nesciunt, fugiat eius esse corporis ab nobis dolor natus odit temporibus?
  </p>
</div>