/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.card-deck {
  margin-bottom: 30px;
}

.content-head {
  margin-bottom: 17px;
  font-size: 19px;
}

#new-crud-btn, #import-crud-btn {
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 575.98px) {
  #new-crud-btn {
    margin-top: -13px !important;
    margin-bottom: 10px !important;
  }
}

/* BRAND LOGO, TEXT AND LEFT MENU TOGGLE */
.brand-logo {
  background: url("../../assets/images/icons/icon.svg") no-repeat !important;
  margin-top: -10px;
  height: 50px !important;
  width: auto;
}

/* BRAND TEXT */
.brand-text {
  margin-top: -18px;
}

/* TOGGLE LEFT MENU ICON */
.main-menu .navbar-header .modern-nav-toggle {
  margin-top: -4px;
}

/* DATATABLES */
table.dataTable thead th,
table.dataTable thead td,
table.dataTable tfoot th,
table.dataTable tfoot td {
  font-size: 0.95rem;
}

table.dataTable thead tr {
  background-color: #f7f7f7;
}

.table-striped > tbody > tr:nth-child(2n + 2) > td {
  background-color: #f7f7f7;
}

.table td {
  padding: 0.5rem;
}

.card-dt {
  padding: 0.8rem 1.2rem 1rem 1.2rem;
}

.zero-configuration .fa {
  font-size: 25px;
}



/* CONTENT PADDING IN MOBILES */
@media (max-width: 575.98px) {
  html body .content .content-wrapper {
    padding: calc(2.2rem - 0.4rem) calc(2.2rem - 1rem) 0 !important;
  }
}

/* DROPDOWN MENU DATATABLE */
.dropdown-dt button {
  width: 80px;
  height: 30px;
  padding-left: 10px !important;
  padding-top: 7px !important;
}

.dropdown-toggle::after {
  left: 0px !important;
}

/* CONTENT DETAILS */
html body.navbar-sticky .app-content .content-wrapper {
  padding: 1.2rem 2.2rem 1.2rem 2.2rem;
}


/* MODALS */
@media (max-width: 575.98px) {
  .modal-dialog-scrollable .modal-body {
    padding-left: 1.5rem !important;
    padding-right: 1.4rem !important;
  }  
}

/* ALERTS */
.alert {
  margin: -7px 0 17px 0;
  padding: 8px 15px;
  border-radius: 0;
}
.alert button.close {
  margin-top: -4px; 
  margin-right: 6px; 
}

@media (max-width: 575.98px) {
  .alert {
    margin: -10px 0 25px 0;
  }
}

/* JQUERY CONFIRM */
.jconfirm-closeIcon {
  margin-top: 5px;
}

.jconfirm-icon-c {
  margin-top: -12px;
  color: #EA5455;
}

.jconfirm .jconfirm-box {
  padding: 25px 25px 15px 25px !important;
}

.main-menu.menu-light .navigation > li.active > a {
  color: #565656;
}


@media (max-width: 575.98px) {
  #import-crud-btn {
    margin-bottom: 15px;
  }  
}

.radiobtn label {
  font-size: 13px;
}

.form-label-group > input:not(:placeholder-shown) ~ label {
  font-size: 0.9rem;
  top: -23px;
}

.feature-header {
  /* margin-bottom: 20px; */
  height: 2.8rem;
}

.card {
  padding-top: 5px !important;
  padding-bottom: 0 !important;
}

label {
  font-size: 13px;
  color: #979797;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #626262 !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #626262 !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #626262 !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #626262 !important;
}

.profile-header-bottom {
  border-bottom: 1px #e0e0e0 solid;
  height: 25px;
}

.student-profile {
  padding-top: 0;
}


/* @media (max-width: 1000px) {
  .profile-avatar {
    margin-bottom: 25px !important;
  }
}

.student-details {
  margin-top: 10px;
} */