/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

$blue: #53aef8;
$gray: rgb(128, 128, 128);
$blue-light: rgb(4, 77, 161);
$blue-ultralight: #d0e7fa;
$blue-gradient: rgba(43, 139, 228, 0.781);
$white: white;

a {
  color: $blue;
}

.primary {
  color: $blue !important;
}

.bg-primary {
  background-color: $blue !important;
}

.alert-primary {
  color: $blue !important;
  background-color: $blue-ultralight !important;
}


.border-primary {
  border: 1px solid $blue !important;
}

.border-top-primary {
  border-top: 1px solid $blue;
}

.border-bottom-primary {
  border-bottom: 1px solid $blue;
}

.border-left-primary {
  border-left: 1px solid $blue;
}

.border-right-primary {
  border-right: 1px solid $blue;
}

.bg-primary.badge-glow,
.border-primary.badge-glow,
.badge-primary.badge-glow {
  box-shadow: 0px 0px 10px $blue;
}

.badge.badge-primary {
  background-color: $blue;
}

.badge.badge-light-primary {
  color: $blue !important;
  font-weight: 500;
}

.overlay-primary {
  background: $blue;
}

.btn-primary {
  background-color: $blue !important;
}
.btn-primary:hover {
  box-shadow: 0 8px 25px -8px $blue;
}

.btn-flat-primary {
  background-color: transparent;
  color: $blue;
}
.btn-flat-primary:hover {
  color: $blue;
}
.btn-flat-primary:active,
.btn-flat-primary:focus {
  background-color: $blue;
}

.btn-relief-primary {
  background-color: $blue;
}

.btn-outline-primary {
  border: 1px solid $blue;
  color: $blue;
}
.btn-outline-primary:hover {
  color: $blue;
}

.btn-primary ~ .dropdown-menu .dropdown-item.active,
.btn-outline-primary ~ .dropdown-menu .dropdown-item.active,
.btn-flat-primary ~ .dropdown-menu .dropdown-item.active {
  background-color: $blue;
}

.btn-primary ~ .dropdown-menu .dropdown-item:not(.active):not(:active):hover,
.btn-outline-primary
  ~ .dropdown-menu
  .dropdown-item:not(.active):not(:active):hover,
.btn-flat-primary
  ~ .dropdown-menu
  .dropdown-item:not(.active):not(:active):hover {
  color: $blue;
}

.dropdown.dropdown-icon-wrapper
  .btn-primary
  ~ .dropdown-menu
  .dropdown-item:hover
  i,
.dropdown.dropdown-icon-wrapper
  .btn-outline-primary
  ~ .dropdown-menu
  .dropdown-item:hover
  i,
.dropdown.dropdown-icon-wrapper
  .btn-flat-primary
  ~ .dropdown-menu
  .dropdown-item:hover
  i,
.dropup.dropdown-icon-wrapper
  .btn-primary
  ~ .dropdown-menu
  .dropdown-item:hover
  i,
.dropup.dropdown-icon-wrapper
  .btn-outline-primary
  ~ .dropdown-menu
  .dropdown-item:hover
  i,
.dropup.dropdown-icon-wrapper
  .btn-flat-primary
  ~ .dropdown-menu
  .dropdown-item:hover
  i,
.dropright.dropdown-icon-wrapper
  .btn-primary
  ~ .dropdown-menu
  .dropdown-item:hover
  i,
.dropright.dropdown-icon-wrapper
  .btn-outline-primary
  ~ .dropdown-menu
  .dropdown-item:hover
  i,
.dropright.dropdown-icon-wrapper
  .btn-flat-primary
  ~ .dropdown-menu
  .dropdown-item:hover
  i,
.dropleft.dropdown-icon-wrapper
  .btn-primary
  ~ .dropdown-menu
  .dropdown-item:hover
  i,
.dropleft.dropdown-icon-wrapper
  .btn-outline-primary
  ~ .dropdown-menu
  .dropdown-item:hover
  i,
.dropleft.dropdown-icon-wrapper
  .btn-flat-primary
  ~ .dropdown-menu
  .dropdown-item:hover
  i {
  color: $blue;
}

.bullet.bullet-primary {
  background-color: $blue;
}

.pagination-primary .page-item.active .page-link {
  background: $blue;
}

.pagination-primary .page-item .page-link:hover {
  color: $blue;
}

.pagination-primary .page-item.prev-item .page-link:hover,
.pagination-primary .page-item.next-item .page-link:hover {
  background: $blue;
}

.nav-pill-primary .nav-item .nav-link.active {
  background-color: $blue !important;
}

.progress-bar-primary .progress-bar {
  background-color: $blue;
}

.chip-primary {
  background-color: $blue !important;
}

.divider.divider-primary .divider-text:before,
.divider.divider-primary .divider-text:after {
  border-color: $blue !important;
}

input[type="checkbox"].bg-primary + .custom-control-label:before,
input[type="radio"].bg-primary + .custom-control-label:before {
  background-color: $blue !important;
}

input:focus ~ .bg-primary {
  box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.21rem $blue !important;
}

.vs-checkbox-primary input:checked ~ .vs-checkbox {
  border-color: $blue !important;
}
.vs-checkbox-primary input:checked ~ .vs-checkbox .vs-checkbox--check {
  background-color: $blue !important;
}

.vs-checkbox-primary input:active:checked + .vs-checkbox .vs-checkbox--check {
  background-color: $blue !important;
}

.custom-switch-primary
  .custom-control-input:checked
  ~ .custom-control-label::before {
  background-color: $blue !important;
}

.vs-radio-primary input:checked ~ .vs-radio .vs-radio--circle {
  background: $blue !important;
  box-shadow: 0 3px 12px 0 $blue-light !important;
}

/* BUTTON OUTLINE PRIMARY */
.btn-outline-primary {
  color: $blue;
  border-color: $blue;
}
.btn-outline-primary:hover {
  background-color: $blue;
  border-color: $blue;
  color: white;
}
.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem $blue-light;
}
.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: $blue;
  background-color: transparent;
}
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: $blue;
  border-color: $blue;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $blue-light;
}

/* PAGINATION */
.pagination .page-item.active .page-link {
  background-color: $blue;
}
/* BRAND TEXT */
.main-menu .navbar-header .navbar-brand .brand-text {
  color: $blue;
}

/* LEFT MENU ACTIVE */
.main-menu.menu-light .navigation > li ul .active {
  background: none;
  box-shadow: none;
}

.main-menu.menu-light .navigation > li ul .active > a {
  color: $blue;
}

.main-menu.menu-light .navigation > li.active > a {
  background: none;
  box-shadow: none;
}

.main-menu.menu-light .navigation > li .active {
  color: $blue;
  background: none;
}

/* FORM CONTROL */
.form-control:focus {
  border-color: $blue;
}

.modal .modal-header .close span {
  color: $blue;
}

table.dataTable.dtr-inline.collapsed
  > tbody
  > tr[role="row"]
  > td.dtr-control:before,
table.dataTable.dtr-inline.collapsed
  > tbody
  > tr[role="row"]
  > th.dtr-control:before {
  background-color: $blue;
}

.pagination .page-item.prev-item .page-link,
.pagination .page-item.next-item .page-link,
.pagination .page-item.first .page-link,
.pagination .page-item.last .page-link {
  color: $blue;
}

.pagination .page-item.prev-item .page-link:hover {
  background: $blue;
  color: #fff;
}

.pagination .page-item.next-item .page-link:hover {
  background: $blue;
  color: #fff;
}

.pagination .page-item .page-link:hover {
  color: $blue;
}

.pagination .page-item.active .page-link {
  background-color: $blue;
  color: #fff;
}

a:hover:not(.btn) {
  color: $gray !important;
}


