{{#if success }}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
    <p class="text-center">{{success}}</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}


{{#if error }}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <div class="container text-center">
        <span>{{error}}</span>
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

{{#if error2 }}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <div class="container text-center">
        <span>{{error2}}</span>
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

{{#if multiErrorMsg}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <div class="container text-center">
        {{#each multiErrorMsg}}
        <span>{{text}}</span>
        {{/each}}
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}